@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --darkblue:#212A3E;
    --lightblue:#394867;
    --darkgrey:#9BA4B5;
    --lightgrey:#F1F6F9;
    --star:#D5AB55;
    --gradient:linear-gradient(to right bottom, #050e40, #0a174b, #102157, #152a62, #1a346e, #1e3671, #213973, #253b76, #273770, #29326a, #2a2e64, #2b2a5e);
}
html,body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
p,h4,h3,h1{
    margin: 0;
}
input[type="text"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    color:var(--lightgrey);
    padding-left: 10px;
    font-weight: bold;
  }
#container{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 8fr;
    font-size: 1.1rem;
}
#sidebar{
    grid-area: 1/1/3/1;
    background-image: linear-gradient(to left, #20417e, #1a346e, #13275e, #0c1a4f, #050e40);
}
#content{
    grid-area: 2/2/3/3;
    background-image: linear-gradient(to left, #050e40, #0d1345, #15194b, #1b1e50, #222356, #25275b, #272c61, #2a3066, #29346c, #273872, #243d78, #20417e);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 2fr;
    padding: 20px;
}
#content>div>p{
    color: white;
}
#header{
    background-image: linear-gradient(to left, #050e40, #0d1345, #15194b, #1b1e50, #222356, #25275b, #272c61, #2a3066, #29346c, #273872, #243d78, #20417e);;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 2vh;
    padding-right: 3vw;
    padding-left: 3vw;
}
#sidebar{
    display: flex;
    flex-direction: column;
    gap:50px;
    padding-top:20px;
}
#nav{
    display: grid;
    color:white;
    font-size: 1.5rem;
    justify-items: center;
    gap:30px;
}
#logo{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
#logo>img{
    height: 10vh;

}
#logo>span{
    font-size: 2rem;
    color: white;
}
#nav>div{
    height: 5vh;
    display: flex;
    gap:10px;
    color: whitesmoke;
}
.navicon{
    filter: invert(1000%);
}
#search{
    display: flex;
    align-items: center;
    gap:10px;
}
#magnifying{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}
#magnifying:hover{
    background-color: rgba(255,255,255,0.3);
}
#magnifying:active{
    transform: scale(0.9);
    transition: 0s;
}
#searchbar{
    appearance: none;
    background-color: var(--darkgrey);
    border-radius: 20px;
    height: 4vh;
    width:35vw;
}
#user{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:30px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding-right: 5vw;
}
#user>#pfp,#notification{
    width:50px;
    height: 50px;
}
#notification{
    background-image: url("assets/notifs.svg");
    background-size: contain;
    
}
#welcome{
    display: flex;
    gap:20px;
    align-items: center;
}
#welcomemessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
}
#welcomemessage>*{
    margin:0;
}
#bigpfp{
    width:5vw;
    height: 5vw;
    background-color: white;
    border-radius: 50%;
}
#buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button{
    background-color: var(--star);
    border-radius: 20px;
    width: 8vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#projects{
    grid-area: 1/1/3/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5rem repeat(3,1fr);
    gap: 2vw;
}
#projects>p{
    grid-column: 1/3;
}
.project{
    background-color: var(--lightgrey);
    border-radius: 14px;
    border-left: 14px solid var(--star);
    padding: 30px;
    padding-top: 40px;
    display: grid;
}
.project>div>p{
    font-weight: normal;
    color:grey;
}

#icons{
    display: flex;
    justify-content: end;
    align-items: end;
    gap:20px;
}
#icons>div{
    width: 30px;
    height: 30px;
}
.share{
    background-image: url("assets/share.svg");
    background-size: contain;
}
.follow{
    background-image: url("assets/follow.svg");
    background-size: contain;
}
.star{
    background-image: url("assets/star.svg");
    background-size: contain;
}
#announcements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--lightgrey);
    border-radius: 20px;
    padding: 20px;
}
.announcement{
    font-size: 0.9rem;
    
}
#content>:nth-child(2){
    display: grid;
    grid-template-rows: 1.5rem;
    padding-left: 20px;
    gap:2vw;
}
#content>:nth-child(3){
    padding-top:20px ;
    display: grid;
    grid-template-rows: 1.5rem;
    padding-left: 20px;
    gap:2vw;
}
#trending{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    background-color: var(--lightgrey);
    border-radius: 20px;
    padding: 10px;
}
#content>div>p{
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1vh;
}
.pfpsmall{
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}
.person{
    display: flex;
    gap:10px;
    justify-items: center;
    align-items: center;
    padding-left: 15px;
}
.person>div>p{
    font-weight: normal;
}
#pfp,#bigpfp{
    background-image: url(assets/profile.svg);
}
#dog{
    background-image: url(assets/dog.svg);
    background-size: contain;
}
#vader{
    background-image: url(assets/vader.svg);
    background-size:contain;
}
#person{
    background-image: url(assets/person.svg);
}

#robot{
    background-image: url(assets/robot.svg);
    background-size: contain;
}
.animate:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor:pointer;
}
.animate:active{
    transform: scale(1);
    transition: 0s;
}
.animate2:hover{
    transform: scale(1.2);
    transition: 0.2s;
    cursor:pointer;
}
.transitioning:hover,.button:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor:pointer;
}
.animate:active{
    transform: scale(1);
    transition: 0s;
}
.animate2:active{
    transform: scale(1.1);
    transition: 0s;
}
.transitioning:active,.button:active{
    transform: scale(1.05);
    transition: 0s;
}
a{
    appearance: none;
    text-decoration: none;
    color: black;
}